.post-list{
    display: flex;
   flex-direction: column;
   align-items: center;
   min-height:100vh;
   
}
.posts{
    width:90%;
    flex-grow: 1;
   
}
.list{
    margin: 0px;
    padding:0px;
}
.input-search{
    padding:10px 15px;
    margin-bottom:10px;
    border-radius: 10px;
    width:30%;
}